@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family-Poppins:wght@100;200;300;400;500;600;700; 800&display-swap');

* {
  font-family: "Spartan", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: auto;
}

/********************** NAVBAR COMPONENT STYLING **************************/
/**********************************************************************************************************************/
.header {
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden;
}

.header .links {
  list-style: none;
  padding: 0 150px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
  cursor: pointer;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.insidelink {
  padding-left: 50px;
}

.login {
  margin-right: 13px;
}

nav .logo {
  height: 50px;
  margin-top: 6px;
}

.header .links a:hover,
.header .links a.active {
  color: #f5af2e;
}

.header .links a.active::after,
.header .links a:hover::after {
  content: "";
  width: 40%;
  height: 2px;
  background: #f5af2e;
  position: absolute;
  bottom: -4px;
  left: 0px;
  cursor: pointer;
}

nav .menuBtn {
  margin-top: 0.7px;
  padding: 8px 12px;
  color: black;
  background-clip: text;
  border: 2px solid #f5af2e;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

nav .menuBtn:hover {
  color: #fff;
  background: #f5af2e;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

/**********************************************************************************************************************/

/********************** HERO SECTION COMPONENT STYLING **************************/
/**********************************************************************************************************************/
.heroSection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  background: url(/public/nit.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.heroSection .container {
  display: flex;
  max-width: 1500px;
  min-width: 1500px;
  padding-top: 92px;
  padding-left: 80px;
}

.heroSection .textAndLogo span {
  font-weight: bold;
  font-size: 40px;
  color: black;
}

.heroSection .textAndLogo {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  /* width: 60%; */
  padding: 120px 10px;
  color: yellow;
}

.heroSection .container .banner:first-child {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
}

.heroSection .container .banner .combined_boxes {
  display: flex;
}

.heroSection .container .banner .imageBox img {
  width: 370px;
  height: 450px;
  margin-top: 45px;
  margin-left: 140px;
}

.imageBox {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50px);
  }
}

.heroSection .container .banner .imageBox1 img {
  width: 90px;
  height: 90px;
}

@media (max-width: 1280px) {
  .heroSection .container {
    width: 100%;
    min-width: fit-content;
    padding: 30px 20px;
  }
}

@media (max-width: 1072px) {
  .heroSection .container .banner .title {
    font-size: 6.5rem;
  }

  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 335px;
  }
}

@media (max-width: 880px) {
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 265px;
  }
}

@media (max-width: 830px) {
  .heroSection .container .banner:last-child .imageBox {
    height: 350px;
  }

  .heroSection .container .banner:last-child .imageBox img {
    display: none;
  }

  .heroSection .container .banner .combined_boxes {
    flex-direction: column-reverse;
  }

  .heroSection .container .banner .textAndLogo {
    width: 100%;
    text-align: start;
  }

  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 60px;
  }

  .heroSection .container .banner:last-child .dishes_title {
    margin-top: 65px;
  }

  .heroSection .container .banner .imageBox img {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .heroSection .container .banner .title {
    font-size: 4rem;
  }
}

@media (max-width: 520px) {

  .heroSection .container .banner:first-child {
    width: 100%;
  }

  .heroSection .container .banner:last-child {
    display: none;
  }

  .heroSection .container .banner .textWithSvg {
    width: fit-content;
    margin: 0 auto;
  }

  .heroSection .container .banner .textAndLogo {
    text-align: center;
  }

  .heroSection .container .banner:first-child .imageBox {
    width: 100%;
    text-align: center;
  }

  .heroSection .container .banner:first-child .imageBox img {
    width: 290px;
    height: 350px;
  }
}

@media(max-width: 650px) {
  .heroSection {
    padding: 0;
  }
}

@media (max-width: 330px) {
  .heroSection .container .banner:first-child .imageBox img {
    width: 100%;
    height: auto;
  }
}

/**********************************************************************************************************************/

/* CARD COMPONENT STYLING */
/*********************************************************************************************************************/
.product1 {
  text-align: center;
}

.product1 {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 10rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

.product1 .prod {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #b1b4b1;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  height: 330px;
}

.product1 .prod:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product1 .prod img {
  width: 100%;
  border-radius: 20px;
  height: 150px;
}

.product1 .prod .des {
  text-align: start;
  padding: 10px 0;
}

.product1 .prod .des span {
  color: #606063;
  font-size: 12px;
}

.product1 .prod .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product1 .prod .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.product1 .prod .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

.phNo {
  padding-top: 7px;
  font-size: 12px;
  font-weight: 500;
}

.product1 .prod .cart {
  width: 43px;
  height: 43px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*********************************************************************************************************************/

/******************* TESTIMONIALS PAGE STYLING **************/
/**********************************************************************************************************************/

.testimonial-slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 40px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  margin-top: 70px;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.testimonial-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: 90px;
  margin-right: 90px;
}

.quote {
  font-size: 18px;
  margin: 20px 0;
  color: #333;
  font-style: italic;
}

.name {
  font-size: 20px;
  color: #222;
  margin: 10px 0;
}

.position {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;

  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s ease;
  border: none;
  user-select: none;
}

.next {
  right: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.prev {
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.prev:hover,
.next:hover {
  background-color: rgba(165, 160, 160, 0.8);
}

/* Responsive styling */
@media (max-width: 768px) {
  .testimonial-slider {
    padding: 30px;
  }

  .quote {
    font-size: 16px;
  }

  .name {
    font-size: 18px;
  }

  .position {
    font-size: 14px;
  }

  .description {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .testimonial-slider {
    padding: 20px;
  }

  .quote {
    font-size: 14px;
  }

  .name {
    font-size: 16px;
  }

  .position {
    font-size: 12px;
  }

  .description {
    font-size: 10px;
  }

  .prev,
  .next {
    font-size: 14px;
    padding: 12px;
  }
}


/*********************************************************************************************************************/

/******************* FOOTER PAGE STYLING **************/
/**********************************************************************************************************************/
.section-p1 {
  background: white;
  padding: 40px 80px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
  color: #222;
  font-weight: 600;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
  color: #465b52;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
  color: #465b52;
  padding-right: 40px;
  cursor: pointer;
}

footer .follow .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75px;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
  margin-left: 5px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer .qr {
  height: 120px;
  font-weight: 120px;
}

/**********************************************************************************************************************/

/******************* SELL PAGE STYLING **************/
/**********************************************************************************************************************/


/**********************************************************************************************************************/

/******************* NOT FOUND PAGE STYLING **************/
/**********************************************************************************************************************/
.notFound {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 60px;
  margin-left: 120px;
}

.notFound .container {
  max-width: 1500px;
  text-align: center;
}

.notFound .container img {
  margin-bottom: 2rem;
}

.notFound .container h1 {
  font-size: 2.75rem;
  font-weight: 300;
  color: #222;
  margin-bottom: 0.5rem;
}

.notFound .container p {
  font-size: 18px;
  font-weight: 300;
  color: #555;
  margin-bottom: 1.5rem;
}

.notFound .container a {
  border: 1px solid black;
  padding: 8px 28px;
  border-radius: 30px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  color: #111;
}

.notFound .container a span {
  margin-left: 1rem;
  padding: 6px;
  background: #111;
  border-radius: 100%;
  color: #fff;
}

.notFound .container a:hover {
  color: #fff;
  background: #111;
  transition: ease-in-out 0.3s;
}

.notFound .container a:hover span {
  background: #fff;
  color: #111;
}

.backButton {
  background-color: #ecb911;
  width: 230px;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
  margin: auto;
  margin-top: 13px;
}


.backButton:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(0.9);
}

@media (min-width: 768px) {
  .backButton {
    padding: 16px 48px;
  }
}

@media (max-width: 600px) {
  .notFound {
    padding: 30px 20px;
  }

  .notFound .container img {
    width: 100%;
  }

  .notFound .container h1 {
    font-size: 1.75rem;
  }
}


/**********************************************************************************************************************/

/******************* LOGIN PAGE STYLING **************/
/**********************************************************************************************************************/
.login_container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_form_container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
}


.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3bb19b;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.right h1 {
  margin-top: 0;
  color: white;
  font-size: 40px;
  align-self: center;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: white;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.green_btn {
  background-color: #3bb19b;
  color: white;
  margin: 10px;
}


/**********************************************************************************************************************/

/******************* SIGNUP PAGE STYLING **************/
/**********************************************************************************************************************/
.signup_container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup_form_container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left h1 {
  margin-top: 0;
  color: white;
  font-size: 35px;
  align-self: center;
}





/**********************************************************************************************************************/